@mixin flexprops ($justify) {
    display: flex;
    justify-content: $justify;
}
@mixin genralflex($direction,$justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}