@import "../style/var";
@import "../style/mixin";

.main{
    @include genralflex(row,center);
    // height: 100vh;
    font-family: $fontfamily;
}
.card-container{
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s ease-in;
    background-color: white;
    &:hover{
        transform:scale(1.1)
    }
}
.image-container img{
    overflow: hidden;
    height: 200px;
}
.card-content{
    margin: 1rem;
    margin-top: 0.5rem;

}
h3,p{
    margin: 0;
    padding: 0;
}
.card-title{
    margin-bottom: 0.5rem;
    text-align: center;
}
.card-body{
    text-align: center;
}
.btncard{
    @include flexprops(center);
    & button{
        padding: 0.5rem;
        background: white;
        border: none;
        transition: .2s;
        margin-bottom: 0.5rem;
        border-radius: 3px;
        color: darkred;
        font-weight: 600;
        font-family: $fontfamily;
        font-size: 16px;
        cursor: pointer;
        &:hover{
            background-color: rgba(27,156,252,0.1);
        }
    }
}
.blog-post-date{
    @include flexprops(space-between);
    color: rgb(68, 62, 62);
}
