@import "../style/mixin";
@import "../style/var";
.footercontainer{
    background-color: black;
    width: 100vw;
    height: 60px;
    color: white;
    @include genralflex(row,center);
    align-items: center;
    font-family: $fontfamily;
}