@import '../style/var';
@import '../style/mixin';
.cardpagecontainer{
    @include genralflex(row,space-evenly);
    margin-top: 40px;
}
.cardpage{
    padding: 5px;
    width: 150px;
    font-family: $fontfamily;
    border-radius: 5px;
    border: none;
    border-bottom:2px solid black ;
    outline: none;
}

.blogdetails{
    text-align: center;
    color: gray;
}
.searchbutton{
    padding: 10px;
    margin-right: 10px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;  
    transition: .3s; 
    font-size: 20px;
    &:hover{
        color: red;
    }
}
